@font-face {
    font-family: "Dongle";
    src: url("../fonts/Dongle-Regular.ttf") format(truetype);
}

body{
    font-family: "Dongle", sans-serif;
    background-color: #cfd5f6;
}

.time{
    color: rgb(223, 216, 251);
    font-size: 40px;
    
}

.time-text{
    margin-top: -20px;
    font-size: 25px;
    color: rgb(139, 61, 240);
}

button{
    width: 60px;
    margin: 10px;
}

.interval{
    box-shadow: 0 0 5px rgb(139, 61, 240);
    border-radius: 5px;
    height: 120px;
    overflow-y: scroll;
    padding: 10px;
}

.circle{
    position: absolute;
    top: 10px;
    margin: 0 auto;
    width: 200px;
    border-radius: 100%;
    height: 200px;
    background-color: rgb(40, 13, 86);
    position: relative;
}

.circle-anim{
    width: 220px;
    height: 220px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: black;
    position: relative;
}

.circle-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.watch-content{
    margin-top: 30px;
}

.circle-anim-content{
    width: 220px;
    height: 220px;
    position: absolute;
    border-radius: 50%;
    border: 10px solid #10910c;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgb(199, 47, 9);
}

.active{
    animation: rotation 1s linear infinite;
}

 @keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
 }